{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}
<section>
  <div class="d-flex align-items-center justify-content-between my-3 mb-4">
    <div>Profile</div>
    {% if editable %}
    <a href="/auth/logout" class="btn btn-sm btn-danger">Logout</a>
    {% else %}
    <a href="/users" class="btn btn-sm btn-danger">Back</a>
    {% endif %}
  </div>
  <form>
    <div class="mb-3 mt-3">
      <label for="firstname" class="form-label">First name:</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        placeholder="Enter your first name"
        value="{{ user.firstname }}"
        name="firstname"
        required
      />
    </div>
    <div class="mb-3 mt-3">
      <label for="lastname" class="form-label">Last name:</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        placeholder="Enter your last name"
        value="{{ user.lastname }}"
        name="lastname"
        required
      />
    </div>
    <div class="mb-3 mt-3">
      <label for="age" class="form-label">Age:</label>
      <input
        type="number"
        class="form-control"
        id="age"
        placeholder="Enter age"
        value="{{ user.age }}"
        name="age"
        required
      />
    </div>
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        name="email"
        value="{{ user.email }}"
        required
      />
    </div>
    <div class="mb-3 mt-3">
      <label for="date" class="form-label">Date created:</label>
      <input
        type="text"
        class="form-control"
        id="date"
        value="{{ user.date_created }}"
        readonly
      />
    </div>
    {% if editable %}
    <div class="d-flex justify-content-between">
      <button id="delete" class="btn btn-sm btn-danger">Delete</button>
      <button type="submit" class="btn btn-sm btn-warning">Save</button>
    </div>
    {% endif %}
  </form>
</section>
{% endblock %}

{% block script %}
<script>
  // prettier-ignore
  let user = JSON.parse('{{ user|tojson }}');
  let editable = "{{ editable }}";

  if (editable === "False") {
    $("input").attr("disabled", "disabled");
  }

  $(document).ready(function () {
    $("form").submit(function (e) {
      e.preventDefault();
      const formValues = $(this).serializeArray();
      const data = {};

      for (const x of formValues) {
        if (x.value != user[x.name]) {
          data[x.name] = x.value;
        }
      }

      if (Object.keys(data).length) {
        $.ajax({
          url: "/update",
          method: "PATCH",
          data,
        })
          .done(function (data) {
            user = data.data;
            alert(data.message);
          })
          .fail(function (response) {
            alert("Request failed: " + response.statusText);
          });
      }
    });

    $("#delete").click(async function () {
      await $.ajax({
        url: `/users/${user.id}`,
        method: "DELETE",
      });
      window.location.href = "/auth/login";
    });
  });
</script>
{% endblock %}
